*{
    margin: 0;
    padding: 0;
}

header{
   background-color:#358BA6;
   color:#fdffff;
}

.banner{
    display:inline;
    justify-content:baseline;
    width: 100%;
}

.cabeçalho{
    text-align: center;
    padding: 0;
}
.body{
    font-family: 'Noto Serif', serif;
 }

.banner{
    display:inline;
    justify-content:baseline;
    width: 100%;
}

.topicos{
    color:#fdffff;
    padding: 0 16px;
    display:inline-block;
    font-size: 30px;
}

.titulo{
    text-align: center;
 }

 .texto{
    color: black;
    margin: 0 16px;
    text-align: center;
    display:flexbox;
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
 }

.arquivo{
    margin: 0 16px;
    padding: 20px 0;
    justify-content:center;
    display:flexbox;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
 }